/* src/styles/adminPage.css */

.adminpage {
    padding: 40px;
    color: #fff;
    background-color: #0d0d0d;
    text-align: center;
}

.button1 {
    position: absolute;      /* Posiciona el botón en relación a la página */
    top: 10px;               /* Desplazamiento desde la parte superior */
    left: 10px;              /* Desplazamiento desde la izquierda */
    padding: 10px 20px;      /* Espaciado interno del botón */
    color: black;            /* Color inicial del texto */
    font-size: 16px;         /* Tamaño de fuente */
    cursor: pointer;         /* Cambia el cursor a una mano al pasar por encima */
    transition: color 0.3s;
    text-decoration: none;
    font-size: 18px;
    background-color: #d32f2f; /* Color rojo del marco de Jurassic Park */
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: bold;/* Transición suave para el cambio de color */
}

/* Efecto hover para cambiar el color del texto a amarillo */
.button1:hover {
    color: yellow;           /* Cambia el color del texto a amarillo */
}

.adminpage h1 {
    color: #f0c040;
    margin-bottom: 30px;
}

.user-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-form div {
    margin-bottom: 15px;
}

.user-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f0c040;
}

.user-form input,
.user-form select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}

.user-form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #d32f2f;
    color: #f0c040;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-form button:hover {
    background-color: #b71c1c;
}

.user-form input:focus,
.user-form select:focus {
    outline: none;
    border-color: #f0c040;
}
