/* General styling for all pages */
.islapage, .criaderopage, .enfermeriapage {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    gap: 20px; /* Space between text and board */
    padding: 0px;
    color: #f0c040;
    background-image: url("/public/images/eee.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Table container adjustments to center it */
.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Table styling */
.islapage table, .criaderopage table, .enfermeriapage table {
    margin: 0;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #f0c040;
    border-radius: 10px;
    overflow: hidden;
}

/* Table cell styling */
.islapage td, .criaderopage td, .enfermeriapage td {
    width: 40px;
    height: 36px;
    border: 1px solid #333;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.islapage td:hover, .criaderopage td:hover, .enfermeriapage td:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #f0c040;
}

.text-content {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px; /* Adjust width as needed */
    color: #f0c040;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    z-index: 10; /* Ensures it stays on top of other elements */
}

/* Title and list styling */
.text-content h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.text-content p, .text-content h2, .text-content ul {
    margin: 0 0 10px;
    font-size: 16px;
}

.islapage td.occupied, .criaderopage td.occupied, .enfermeriapage td.occupied {
    background-image: url("/public/images/dinosaur-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.back-button {
    position: absolute; /* Posiciona el botón de forma absoluta */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde el borde derecho */
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #d32f2f; /* Color rojo del botón */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: yellow; /* Rojo más oscuro al pasar el ratón */

}


