.paleopage {
    padding: 44px;
    color: #fff;
    background-color: #0d0d0d;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

.paleopage h1 {
    color: #f0c040;
    font-size: 36px;
    margin-bottom: 30px;
}

.paleopage h2 {
    color: #f0c040;

}

.event-list ul {
    list-style-type: none;
    padding: 0;
    color: #f0c040;
}

.event-list ul li {
    background-color: #333;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #f0c040;
}

.event-list ul li:nth-child(even) {
    background-color: #444;
}