/* src/styles/userPage.css */
.userpage {
    padding: 44px;
    color: #fff;
    background-color: #0d0d0d; /* Fondo oscuro igual al fondo de la imagen */
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

/* Contenedor del Banner */
.banner-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.userpage p{
color: #d32f2f}

.banner {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.userpage {
    background-image: url('/images/aim.webp');

}

.userpage h1 {
    color: #f0c040; /* Color dorado similar al de Jurassic Park */
    font-size: 36px;
    margin-bottom: 30px;
}

.userpage ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.userpage ul li {
    margin: 15px;
}

.userpage ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #d32f2f; /* Color rojo del marco de Jurassic Park */
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: bold;
}

.userpage ul li a:hover {
    background-color: #b71c1c; /* Rojo oscuro al pasar el ratón */
    color: #f0c040; /* Letra dorada en hover */
}


