/* src/styles/userPage.css */
.userpage {
    padding: 190px;
    color: #fff;
    background-color: #0d0d0d; /* Fondo oscuro igual al fondo de la imagen */
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

/* Contenedor del Banner */
.banner-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* CSS para el botón */
/* CSS para el botón */
.button1 {
    position: fixed;         /* Posiciona el botón relativo a la ventana de visualización */
    border: 2px solid red;   /* Borde rojo */
    background-color: white; /* Fondo blanco */
    color: black;            /* Color inicial del texto */
    font-size: 16px;         /* Tamaño de fuente */
    cursor: pointer;         /* Cambia el cursor a una mano al pasar por encima */
    transition: color 0.3s;  /* Transición suave para el cambio de color */
}

/* Efecto hover para cambiar el color del texto a amarillo */
.button1:hover {
    color: yellow;           /* Cambia el color del texto a amarillo */
}



.userpage p{
color: #d32f2f}

.banner {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.userpage {
    background-image: url('/images/aim.webp');

}

.userpage h1 {
    color: #f0c040; /* Color dorado similar al de Jurassic Park */
    font-size: 36px;
    margin-bottom: 30px;
}

.userpage ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.userpage ul li {
    margin: 15px;
}

.userpage ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #d32f2f; /* Color rojo del marco de Jurassic Park */
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: bold;
}

.userpage h1, .userpage p {
    color: #b71c1c; /* Color dorado para h1 y rojo para p */
    background-color: #f0c040; /* Fondo oscuro */
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #d32f2f; /* Borde rojo */
    border-radius: 8px; /* Bordes redondeados */
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

.userpage ul li a:hover {
    background-color: #b71c1c; /* Rojo oscuro al pasar el ratón */
    color: #f0c040; /* Letra dorada en hover */
}


